@page "/edit/{id:int}"
@inject IPostServices PostServices
@inject NavigationManager _navigation


<EditForm method="post" class="mb-3" Model="_post" OnSubmit="Submit">
    <label class="form-label">标题</label>
    <InputText class="form-control" @bind-Value="_post.Title"></InputText>
    <label class="form-label">内容</label>
    <InputTextArea class="form-control" @bind-Value="_post.Content"></InputTextArea>
    <button class="btn btn-primary mb-3" type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Post _post = new();
    protected override async Task OnInitializedAsync()
    {
        _post = await PostServices.GetAllPost(id);
    }
    private void Submit()
    {
        PostServices.Update(_post);
        _navigation.NavigateTo("/");
    }
}