@page "/edit/{Id:int?}"
@inject NavigationManager NavigationManager

<h3>EditPost @Id</h3>

@if (Id == 0)
{
    NavigationManager.NavigateTo("/new");
}
else
{
    <p><h1>EDIT EXISTS POSTS</h1></p>

}

@code {
    [Parameter]
    public int? Id { get; set; }
}
