@page "/"
@inject IPostServices PostServices;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@foreach (var item in rsp)
{
    <p>@item.Id</p>
    <p>@item.Title</p>
    <p>@item.Content</p>
    <p>@item.Comments</p>
}

@code {
    List<Post> rsp;
    protected override void OnInitialized()
    {
        rsp = PostServices.PostsList();
    }

}