@page "/new"
@inject IPostServices PostServices
@inject NavigationManager _navigation


<EditForm method="post" class="mb-3" Model="post" OnSubmit="Submit">
    <label class="form-label">标题</label>
    <InputText class="form-control" @bind-Value="post.Title"></InputText>
    <label class="form-label">内容</label>
    <InputTextArea class="form-control" @bind-Value="post.Content"></InputTextArea>
    <button class="btn btn-primary mb-3" type="submit">Submit</button>
</EditForm>

@code
{
    public Post post = new Post();
    private void Submit()
    {
        PostServices.Add(post);
        //_navigation.NavigateTo("/");
    }
}