@page "/"
@inject IBlogSetting BlogSetting

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@foreach(var t in rsp)
{
<p>@t.Id</p>
    <p>@t.Name</p>
    <p>@t.ShortName</p>
    <p>@t.Description</p>

}

@code{
    IEnumerable<Blog> rsp;
    protected override void OnInitialized(){
       rsp = BlogSetting.GetAllSetting();

    }
}