{% assign eventsPart = Model.ContentItem.Content.EventsPart %}

<p class="event-datetime">
  <strong>时间:</strong>
  {% if eventsPart.StartTime.Value %}
    {{ eventsPart.StartTime.Value | date: "%Y-%m-%d %H:%M" }}
  {% else %}
    待定
  {% endif %}
  
  {% if eventsPart.EndTime.Value and eventsPart.EndTime.Value != eventsPart.StartTime.Value %}
    - {{ eventsPart.EndTime.Value | date: "%Y-%m-%d %H:%M" }}
  {% endif %}
</p>